dto/src/main/resources/Memo.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.0">


    <xsd:element name="MemoDtoShort">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:unsignedLong"/>
                <xsd:element name="number" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>